@charset "UTF-8";

#qna_bground {
	position: relative;
	width: 100%;
}

#qna_cnt {
	width: 1200px;
	position: relative;
	margin: 0 auto;
}

.cls1 {
	text-decoration: none;
}

button.cls2 {
	float: right;
	font-size: 15px;
}

#qna_qnaList {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

#qna_qnaList tr {
	height: 35px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

h3.qna_titName {
	font-size: 35px;
	font-weight: bold;
	letter-spacing: -2.7px;
	color: #161616;
	text-align: center;
	border-bottom: 1px solid gray;
	padding: 0px 0px 30px; 0 px;
	margin: 80px 0px 15px;
	0
	px;
}

#qna_smallNav {
	float: right;
	margin-bottom: 50px;
}

#qna_modal {
	display: none;
	z-index: 110;
	background-color : rgba( 0, 0, 0, .3);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .3);
}

#qna_modalCnt {
	width: 300px;
	margin: 100px auto;
	padding: 20px;
	position: relative;
	background-color: #fff;
	border: 1px solid gray;
}

#qna_modal .qna_modalClose {
	position: absolute;
	top: 4px;
	right: 4px;
	font-size: 20px;
	border: 0;
	background-color: #fff;
}

#qna_modal .qna_modalLabel{
	font-size: 9pt;
}

#qna_modal .qna_modalClose:hover, #qna_modal .qna_modalClose:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.no-uline {
	text-decoration: none;
}

.sel-page {
	text-decoration: none;
	color: blue;
}

.cls1 {
	text-decoration: none;
}

.cls2 {
	text-align: center;
	font-size: 15px;
}