@charset "UTF-8";

#qnaFrm_bground {
	position: relative;
	width: 100%;
}

#qnaFrm_cnt {
	width: 1100px;
	position: relative;
	margin: 0 auto;
}

h3.qna_titName {
	font-size: 35px;
	font-weight: bold;
	letter-spacing: -2.7px;
	color: #161616;
	text-align: center;
	border-bottom: 1px solid gray;
	padding: 0px 0px 30px 0px;
	margin: 50px 0px 100px 0px;
}

#qnaFrm_title {
	height: 40px;
	border-bottom: 1px solid #E6E6E6;
}

#qnaFrm_title2 {
	height: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #E6E6E6;
}

.qnaFrm_tit {
	font-size: 13pt;
}

#qnaFrm_table {
	position: relative;
	margin: 0 auto;
}

#qnaFrm_detail_table {
	margin: 30px 0px 0px 50px;
}

tbody>tr {
	height: 40px;
}

.fixed_join {
	width: 120px;
	font-size: 10pt;
}

.fixed_join1 {
	width: 128px;
}

.qnaFrm_btn1 input {
	width: 100px; 
	height : 30px; 
	font-size : 10px;
	border: 0px;
	border-radius: 3em;
	background-color: darkgray;
	color: white;
	cursor: pointer;
	height: 30px;
	font-size: 10px;
}

.qnaFrm_btn2 input {
	width: 100px;
	height: 30px;
	font-size: 10px;
	border: 0px;
	border-radius: 3em;
	background-color: dodgerblue;
	color: white;
	cursor: pointer;
}

.qnaFrm_btn1 {
	float: left;
	margin-right: 30px;
}

.qnaFrm_btn_list {
	width: 100%;
	margin-top: 100px;
	margin-left: 75%;
}