@charset "UTF-8";

#noti_bground {
	width: 100%;
	position: relative;
}

#noti_container {
	position: relative;
	margin: 0 auto;
	width: 1300px;
}

a.cls2 {
	text-decoration: none;
	float: right;
	font-size: 15px;
	border: 1px solid #585858;
	border-radius: 0.2em;
	padding: 3px;
	background-color: #E6E6E6;
	color: black;
	margin-right: 20px;
}

h3.noti_titName {
	font-size: 35px;
	font-weight: bold;
	letter-spacing: -2.7px;
	color: #161616;
	text-align: center;
	border-bottom: 1px solid gray;
	padding: 0px 0px 30px 0px;
	margin: 80px 0px 15px 0px;
}

#noti_list_tab {
	border-collapse: collapse;
	height: 40px;
	margin-bottom: 20px;
}

#noti_list_tab td {
	text-indent: 10px;
	font-size: 15px;
	border: solid 1px #e5e5e5;
}

#noti_list_tab tr {
	border-left: none;
	border-right: none;
}

#noti_smallnav {
	height: 40px;
}

.noti_subnavi {
	float: right;
	
}

.txt_center {
	text-align: center;
	font-size: 14pt;
	margin: 20 auto;
}

.no-uline {
	text-decoration: none;
}

.sel-page {
	text-decoration: none;
	color: #2E9AFE;
}

#noti_write{
	display:none;
}

#noti_search {
	float: right;
	margin-bottom: 5px;
}

.cls1 {
	text-decoration: none;
}

.cls2 {
	text-align: center;
	font-size: 15px;
}
